@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Rokkitt:ital,wght@0,100..900;1,100..900&family=Tomorrow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*, *::before, *::after {
  box-sizing: border-box;
}

html {
  height: 100vh;
  font-family: Roboto, sans-serif;
}

body {
  background: hsla(233, 100%, 90%, 1);
  background: linear-gradient(0deg, hsla(233, 100%, 90%, 1) 0%, hsla(0, 0%, 89%, 1) 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

h1 {
  text-align: center;
  margin: 0;
  padding: 20px 0;
}

.content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 50px;
  margin: 0 50px;
  padding-bottom: 20px;
}

.card {
  height: 300px;
  padding: 5px 15px;
  border: 2px solid #484d6d;
  border-radius: 4px;
  background-color: #f8f8f8;
}

#new-book {
  order: 10;
  font-size: 1.5rem;
  height: 300px;
  background-color: #57a773;
  border: 2px solid #484d6d;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;

  & ion-icon {
    font-size: 2rem;
    padding-bottom: 2px;
    margin-right: 5px;
  }
}


/* Book read radio switch */

.switch {
  position: relative;
  width: 150px;
  height: 50px;
  text-align: center;
  background: #57a773;
  transition: all 0.2s ease;
  border-radius: 25px;

  & span {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 4px;
    margin: -2px 0px 0px -4px;
    background: #fff;
    display: block;
    transform: rotate(-45deg);
    transition: all 0.2s ease;

    &::after {
      content: "";
      display: block;
      width: 4px;
      height: 12px;
      margin-top: -8px;
      background: #fff;
      transition: all 0.2s ease;
    }
  }
}


input[type='radio'] {
  display: none;
}

.switch label {
  cursor: pointer;
  color: rgba(0, 0, 0, 0.2);
  width: 60px;
  line-height: 50px;
  transition: all 0.2s ease;
}

label[for='dialog-read-yes'],
label[for='read-yes'] {
  position: absolute;
  left: 0%;
  height: 20px;
}

label[for='dialog-read-no'],
label[for='read-no'] {
  position: absolute;
  right: 0%;
}

#dialog-read-no:checked ~ .switch,
#read-no:checked ~ .switch {
  background: #ee6352;
}

#dialog-read-no:checked ~ .switch span,
#read-no:checked ~ .switch span {
  background: #fff;
  margin-left: -8px;

  &::after {
    background: #fff;
    height: 20px;
    margin-top: -8px;
    margin-left: 8px;
  }
}

#dialog-read-yes:checked ~ .switch label[for='dialog-read-yes'],
#read-yes:checked ~ .switch label[for='read-yes'] {
  color: #fff;
}

#dialog-read-no:checked ~ .switch label[for='dialog-read-no'],
#read-no:checked ~ .switch label[for='read-no'] {
  color: #fff;
}

.toggle-radio {
  display: flex;
  gap: 10px;
  margin-bottom: 16px;
}